@import "../variables.less";

  .competition {
    text-transform: uppercase;
  }
  .competition__row {
    display: flex;
    flex-direction: column;
  }
  .competition__achievement {
    display: block;
    padding-left: 22px;
    background-color: @alt-bg-color;
  }

  .competition__achievement-list {
    list-style: none;
    padding-left: 0px;
  }

  .competition__achievement-item {
    margin-bottom: 64px;
  }

  .competition__apps-list {
    list-style: none;
    padding-left: 0px;
  }
  .competition__title {
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: @main-color;
    padding-left: 0;
  }
  .competition__label {
    color: @main-color;
  }
  .competition__input {
    font-size: 18px;
    height: 59px;
    width: 276px;
    border: 2px solid #e5e5e5;
  }

  .competition__input--feedback {
    text-align: center;
    border: 2px solid #e5e5e5;
    height: 197px;
    width: 276px;
  }

  .checkbox {
  position: relative;
  padding-left: 20px;
}

.competition__checkbox {
  display: none;
}

.competition__checkbox-label {
  display: flex;
  align-items: center;

  .competition__checked {
    display: none;
  }
}

.competition__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: @text-color-alt;
  margin-right: 33px;
}

.competition__checkbox:checked + .competition__checkbox-label {
  fill: @main-color;
  .competition__checked {
    display: block;
  }
}

.competition__selection-label {
  display: flex;
  align-items: center;
  padding-left: 33px;
  margin-bottom: 57px;
  font-size: 18px;
}

.competition__radio-button {
  display: none;
}

.competition__radio-checked {
  display: none;
  height: 11px;
  width: 11px;
  background-color: @main-color;
  border-radius: 50%;
}

.competition__radio-button:checked + .competition__selection-label {
  .competition__radio-checked {
    display: block;
  }
}

.competition__radio-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  width: 37px;
  border: 2px solid @alt-bg-color;
  border-radius: 50%;
  background-color: @text-color-alt;
  margin-right: 33px;

}


  .competition__full-name,
  .competition__contacts,
  .competition__feedback {
    margin-left: 22px;
    margin-right: 22px;
  }
  .competition__button--green {
    color: @text-color-alt;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
    padding: 22px 46px;
    margin: 52px 46px 22px;
    text-align: center;
    background-color: #2aab6d;
  }
  .competition__notification {

  }
