@import "../variables.less";
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__tagline {
  font-size: 24px;
  font-weight: 300;
  color: @text-color-main;
  text-align: center;
}

.contact__list {
  list-style: none;
  padding-left: 0;
}

.contact__title {
  font-size: 18px;
  font-weight: 700;
  color: @text-color-main;
  text-align: center;
}

.contact__path {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: @main-color;
  text-decoration: none;
  text-align: center;
}
