@import "variables.less";

.intro {
  .intro__title {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 0;
    padding: 100px 76px;
    background-image: url(/img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .intro__description {
    margin: 50px 55px 40px;
    text-align: center;
  }
}
