.menu {
  font-weight: bold;
  color: white;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  .menu__list {
    list-style: none;
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .menu__item {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
  }
  .menu__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
}
