@import "../variables.less";

.offer {
  background-color: @alt-bg-color;
}

.offer__inner {
  width: 276px;
  margin: 0 auto;
  transform: translateX(-100%);
}

.offer__wrapper {
  overflow-x: hidden;
}

.offer__table {
  width: 1104px;
  border-collapse: collapse;
}

.offer__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  color: @text-color-alt;
  text-align: center;
}

.offer__price {
  font-size: 24px;
  font-weight: 300;
}

.offer__header {
  background-color: @text-color-main;
  height: 94px;
  border-left: 1px solid @text-color-alt;
  border-right: 1px solid @text-color-alt;
}

.offer__description {
  color: @text-color-main;
  background-color: @text-color-alt;
  line-height: 30px;
  text-transform: uppercase;
  height: 59px;
  width: 276px;
  border: 2px solid @alt-bg-color;
}

.offer__img {
  background-color: @text-color-alt;
  width: 276px;
  border: 2px solid @alt-bg-color;
}

.offer__checked {
  fill: #3dc644;
  width: 31px;
  height: 21px;
}
.offer__unchecked {
  fill: #f25b26;
  width: 27px;
  height: 26px;
}
