&--main {
  @media (min-width: @tablet-width){
    display: block;
  }
}



.photo__info {
  background-color: #f2f2f2;
  padding: 17px 25px 23px 28px;
  margin-bottom: 20px;
}

.photo__author {
  display: inline-block;
  font-weight: 700;
  margin: 0;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__description {
  padding-bottom: 20px;
  margin: 0;
}

.photo__likes {
  color: @main-color;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 12px;
}

.photo__link {
  display: block;
}

.photo--main .photo__link {
  margin: 0 -20px;

  @media (min-width: @tablet-width){
    position: relative;
  }
}

.photo__img {
  width: 100%;
  display: block;
}

.photo__img-color {
  fill: @main-color;
}

.photo--main .photo__link {
  margin: 0 -20px;
}

.photo__like-button {
  display: inline-block;
  padding: 0;

}

.photo__award {
  position: absolute;
  right: 25px;
  z-index: 2;
  background-color: @main-color;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 20px 11px;

  @media (min-width: @tablet-width){
    top: 57px;
    right: 130px;
  }
}
