.research {
  display: none;

  .tablet ({
    display: flex;
    align-items: center;
    justify-content: center;
  });

  .desktop ({
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @alt-bg-color;
    padding-bottom: 67px;
  });
}

.research__wrapper {

  .tablet ({
    margin-left: 70px;
    margin-right: 32px;
    max-width: 320px;
  });

  .desktop ({
    margin-left: 67px;
    margin-right: 179px;
    max-width: 580px;
  });
}

.research__img {

  .tablet ({
    fill: #dedede;
    height: 276px;
    width: 238px;
    margin-left: 21px;
  });

  .desktop ({
    fill: #dedede;
    height: 345px;
    width: 298px;
    margin-left: 94px;
  });
}

.research__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.research__description {
  color: @text-color-main;
}

.research__link {
  color: @main-color;
}
