@import "../variables.less";

.slider__toggles-toggle {
  background-color: #bec2c7;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  padding: 0;
  margin: 10px;
}

.slider__toggles-toggle--active {
  background-color: @text-color-alt;
  border: 3px solid @text-color-main;
}
